* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgb(247, 226, 226);
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

h1 {
  color: hsla(0, 100%, 50%, 0.912);
  font-size: 8em;
}

p {
  color: hsl(0, 0%, 0%);
  font-size: 1.4em;
}

.link {
  color: hsla(0, 0%, 0%, 0.803);
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}
