*,
*::after,
*::before {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: ghostwhite;
  margin: 0;
}

.groceries {
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  padding: 20px;
  display: flex;
  gap: 10px;
}

.grocery-section {
  width: 100%;
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid hsl(202, 97%, 30%);
  position: relative;
}

.groceryList {
  list-style-type: none;
  padding: 40px 0px;
}

.grocery-section h2 {
  margin: 0;
}

.grocery-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 1.2em;
  cursor: pointer;
}

.grocery-item input[type='checkbox'] {
  margin-right: 10px;
  accent-color: hsl(202, 97%, 30%);
  cursor: pointer;
}

#groceryList label {
  cursor: pointer;
}

#highPrioritySection {
  background-color: rgba(241, 65, 34, 0.2);
  color: darkslategray;
}

#mediumPrioritySection {
  background-color: rgba(255, 165, 0, 0.2);
  color: darkslategray;
}

#lowPrioritySection {
  background-color: rgba(0, 128, 0, 0.2);
  color: darkslategray;
}

.grocery-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox input[type='checkbox'] {
  display: none;
}

.checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid hsl(202, 97%, 30%);
  position: relative;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.custom-checkbox input[type='checkbox']:checked + .checkmark {
  background-color: hsl(202, 97%, 30%);
}

.custom-checkbox input[type='checkbox']:checked + .checkmark::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

@media only screen and (max-width: 800px) {
  .groceries {
    flex-direction: column;
  }
}
