*,
*::after,
*::before {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: ghostwhite;
  margin: 0;
}


h1{
  display: flex;
  align-items: center;
  gap: 10px;
}
.note {
  font-size: 0.5em;
}

.main {
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-top: 100px;
}

.form {
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.result {
  width: 100%;
  align-items: center;
  padding: 10px 15px;
}

input[type='text'] {
  width: 100%;
  padding: 10px 15px;
  border: 0;
  transition: all 0.5s ease-out;
}
input[type='text']#highPriorityInput {
  background-color: rgba(241, 65, 34, 0.2);
  color: darkslategray;
}
input[type='text']#highPriorityInput:focus {
  background-color: transparent;
  outline: 1px solid rgba(241, 65, 34, 0.7);
  color: rgba(241, 65, 34, 0.9);
}
input[type='text']#mediumPriorityInput {
  background-color: rgba(255, 165, 0, 0.2);
  color: darkslategray;
}
input[type='text']#mediumPriorityInput:focus {
  background-color: transparent;
  outline: 1px solid rgba(255, 165, 0, 0.7);
  color: rgba(178, 116, 2, 0.9);
}
input[type='text']#lowPriorityInput {
  background-color: rgba(0, 128, 0, 0.2);
  color: darkslategray;
}
input[type='text']#lowPriorityInput:focus {
  background-color: transparent;
  outline: 1px solid rgba(0, 128, 0, 0.7);
  color: rgba(0, 128, 0, 0.9);
}


button {
  position: relative;
  padding: 10px 15px;
  background-color: hsla(99, 100%, 18%, 0.7);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 0;
  cursor: pointer;
  font-weight: bold;
}

button {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  background-color: hsl(99, 49%, 30%);
  color: white;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

button:hover,
button:focus {
  background-color: hsla(99, 65%, 33%, 0.568);
  color: hsl(0, 0%, 100%);
}

button::before,
button::after {
  content: '';
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: hsl(99, 49%, 30%);
  z-index: -1;
  transition: transform 0.4s ease-out;
}

button::before {
  left: 0;
  transform: translateX(0);
}

button::after {
  right: 0;
  transform: translateX(0);
}

button:hover::before,
button:focus::before {
  transform: translateX(-100%);
}

button:hover::after,
button:focus::after {
  transform: translateX(100%);
}

.error-message {
  position: absolute;
  top: 15px;
  color: white;
  font-size: 14px;
  display: block;
  visibility: hidden;
  text-align: center;
  background-color: rgba(241, 65, 34, 0.838);
  border-radius: 5px;
  padding: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.4s ease-out;
}

.success-message {
  position: absolute;
  top: 15px;
  color: white;
  font-size: 14px;
  visibility: hidden;
  margin-bottom: 15px;
  text-align: center;
  background-color: hsla(80, 81%, 26%, 0.828);
  border-radius: 5px;
  padding: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.4s ease-out;
}

.show {
  visibility: visible;
}

.result-input {
  width: 100%;
  max-width: 500px;
  padding: 10px 15px;
  border: 0;
  outline: 0;
  text-align: center;
  background-color: hsla(77, 34%, 68%, 0.477);
  color: hsl(0, 0%, 0%);
  transition: background-color 100ms;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.result-input:focus,
.result-input:hover {
  background-color: hsla(80, 49%, 43%, 0.634);
}


@media only screen and (max-width:600px) {
  h1{
    flex-direction: column;
  }
}
